ACCOUNT_WALLET_DB_NAME=""
ACCOUNT_WALLET_DB_USER=""
ACCOUNT_WALLET_DB_PASSWORD=""

TRANSACTION_PROCESSING_DB_NAME=""
TRANSACTION_PROCESSING_DB_USER=""
TRANSACTION_PROCESSING_DB_PASSWORD=""

LEDGER_AUDITING_DB_NAME=""
LEDGER_AUDITING_DB_USER=""
LEDGER_AUDITING_DB_PASSWORD=""